@use"../../responsive.scss" as *;

.listPage {
  display: flex;
  height: 100%;

  .listContainer {
    flex: 3;
    height: 100%;

    .wrapper{
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;

      .savedPostsSection {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-top: 20px;
        border-top: 1px solid #ddd;

        h1 {
          font-weight: 300;
        }
      }
    }
  }
  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: #fcf5f3;

    @include md{
      display: none;
    }
  }
}
